.container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 15px;
  max-width:400px;
  background-color: white;
}

.container p {
  margin: 0;
  padding: 0;
}

.left-column {
  flex: 0 0 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 120px;
}

.right-column {
  flex: 1;
  box-sizing: border-box;
}

img {
  max-width: 90%;
  height: auto;
  display: block;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.hide {
  display: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  background-color: white;
  border: 0;
}
